<footer class="footer">
  <small>
    Created by Kibalnyy Mikhail
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   static_pages_about_path %></li>
      <li><%= link_to "Contact", static_pages_contact_path %></li>
      <li><a href="http://vk.com/id5270032">Vk.com</a></li>
    </ul>
  </nav>
</footer>